.wrapper{
    box-sizing: border-box;
    border: 1px solid #aaa;
    width: 100%;

}
.addForm{
    box-sizing: border-box;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.addForm input{
    width: 300px;
    height: 50px;
}
.basicInfo{
    box-sizing: border-box;
    border: 1px solid purple;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
}
.ingredients{
    width: 100%;
    height: auto;
    border: 1px solid #aaa;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
.ingredients > div{
    display: flex;
    gap: 20px;
}
.ingredients > div input{
    margin-left: 20px;
}
.addForm textarea{
    resize: none;
    vertical-align: middle;
    overflow: hidden;
}
.steps{
    width: 100%;
    height: auto;
    border: 1px solid #aaa;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
.steps >div{
    display: flex;
    align-items: center;
}
.steps > div > div {
    cursor: pointer;
}
.btn{
    border: 1px solid red;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}