.recipe-wrapper{
    box-sizing: border-box;
    border: 1px solid black;
    padding: 1rem 10rem;
    display: flex;
    flex-direction: column;
}
.recipe-wrapper .recipe-header{
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
}
.recipe-wrapper .recipe-header .recipe-thumbnailBox{
    position: relative;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid green;
}
.recipe-wrapper .recipe-header .recipe-thumbnailBox img{
    max-width: 500px;
    max-height: 500px;
}
.recipe-header .recipe-thumbnailBox > div{
    position: absolute;
    width: 150px;
    background-color: rgba(0, 0, 0, .3);
    bottom: 0;
    right: 0px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.recipe-header .recipe-thumbnailBox > div >div{
    display: flex;
    align-items: center;
}
.recipe-header .recipe-thumbnailBox > div >div svg{
    font-size: 1.9rem;
}
.recipe-wrapper .recipe-header .recipe-info{
    text-align: center;
} 
.recipe-ingredient > ul{
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: auto;
    gap: 10px;
    letter-spacing: 1px;
}
.recipe-steps{
    border: 1px solid blue;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}
.recipe-steps img{
    width: 400px;
    height: 300px;
    object-fit: contain;
    object-position: center;
}