.header{
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    padding: 10px 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    z-index: 100;
}

.header .header-logo{
    width: 200px;
    height: 100px;
}

.header .header-logo img{
    width: 100%;
    height: 100%;
}
.header .search{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.header .search input{
    box-sizing: border-box;
    width: 260px;
    height: 50%;
    padding: 10px;
    border: 1px solid #787878;
    border-radius: 10px 0 0 10px;
}
.header .search button{
    all: unset;
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px;
    background-color: #ddb485;
    border-radius: 0 10px 10px 0;
    border-bottom: 1px solid #787878;
    border-top: 1px solid #787878;
    border-right: 1px solid #787878;
    height: 50%;
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.myinfo{
    display: flex;
    gap: 40px;
}
