.header{
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    padding: 10px 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #cc985d;
    border-bottom: 2px solid #ddb485;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    z-index: 100;
}

.header .header-logo{
    width: 200px;
    height: 100px;
}

.header .header-logo img{
    width: 100%;
    height: 100%;
}